{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

	<main>
		<section id="budgetapp">
			<div class="container p-5">
				
				<header>
				<h1>
					<a href="/" class="link"><i class="icon-credit-card"> BudgetApp&trade;</i> </a>
				</h1>
				</header>
				   
				<div class="row">
					
					<div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-4">
					
					<div id="form" >
						
							<h1>Password reset successfully</h1>

							<br/><br/>You can now <a href="/login"><span style="color: #6a1b9a; font-weight: bold;"> Log in </a> page 
					
					</ div>
											
					</div>		
				
				</div>		
			
			</div>				
		</section>
	</main>

{% endblock %}