{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block body %}

<main>
		<section id="budgetapp">
			<div class="container p-5">
				
				<header>
				<h1>
					<a href="/" class="link"><i class="icon-credit-card"> BudgetApp&trade;</i> </a>
				</h1>
				</header>
				   
				<div class="row">
					
					<div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-4">
						
						<form method="post" action="/password/reset-password">
																								
							{% if user.errors is not empty %}
								<div class="error" style="margin-left: 50px;">
								<p> Errors: </p>
								<ul>
									{% for error in user.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
								</div>
							{% endif %}
							
							<div id="form">
								
								<input type="hidden" name="token" value="{{ token }}" />
											
								<input type="password" style="max-width: 100%;" name="register_password1" required title="Enter password" placeholder="type new password" onfocus="this.placeholder=' ' " onblur="this.placeholder='type new password' " />
												   
								<input type="password" style="max-width: 100%;" name="register_password2" required title="Confirm the password" placeholder="repeat new password" onfocus="this.placeholder=' ' " onblur="this.placeholder='repeat new password' " />
								
								<div class="w-100"></div>
								
								<input type="submit" style="max-width: 100%;" value="Reset password" />
															
							</div>
							
						</form>
					
					</div>						
				
				</div>		
			
			</div>				
		</section>
	</main>
	
{% endblock %}

