{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}

	<main>
		<section id="budgetapp">
			<div class="container p-5">
				
				<header>
				<h1>
					<a href="/" class="link"><i class="icon-credit-card"> BudgetApp&trade;</i> </a>
				</h1>
				</header>
				   
				<div class="row">
					
					<div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-4">
					
					<div id="form" >
						
							<h1>Your account has been successfully created! </h1>
							<p style="margin-top:20px;">Please check your email to activate your account </p>
					
					</ div>
											
					</div>		
				
				</div>		
			
			</div>				
		</section>
	</main>

{% endblock %}